* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3d3dca;
  color: #ee5858;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.App {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.App .title {
  font-size: 40px;
}

.App .subtitle {
  font-size: 25px;
}

.title,
.subtitle,
.info {
  margin-bottom: 20px;
}

.info p {
  text-align: justify;
  font-size: 18px;
  letter-spacing: .1em;
  line-height: 25px;
}

.extra {
  color: antiquewhite;
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
}